<a href="https://colab.research.google.com/github/PearlGrell/CS-2001/blob/main/CS_2001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 1: Data Types and Operators

## 1. Swapping Two Variables

**Question:** Thor and Hulk are competing in a strength test. The scores are scored in variables. Swap their scores using only Python variables.

In [ ]:
thor : int = int(input("Enter Thor's score: "))
hulk : int = int(input("Enter Hulk's score: "))

print("Before swapping:")
print("Thor's score:", thor)
print("Hulk's score:", hulk)

thor, hulk = hulk, thor

print("After swapping:")
print("Thor's score:", thor)
print("Hulk's score:", hulk)

Enter Thor's score: 100
Enter Hulk's score: 54
Before swapping:
Thor's score: 100
Hulk's score: 54
After swapping:
Thor's score: 54
Hulk's score: 100

## 2. Hulk's Strength
**Question:** Hulk strength level is recorded as a string input 1000. Convert it into an integer and increase it by 200.

In [ ]:
strength = "1000"
strength = int(strength)
strength += 200
print(f"Hulk's strength is {strength}")

Hulk's strength is 1200

## 3. Gravitational **Force**

**Question:** Thor's hammer weight is 5000 (int), but you need to calculate the gravitation force, which requires it as float.

In [ ]:
weight = 5000
force = 9.8 * 5000
print(f"Gravitational force is {force:.2f} N")

Gravitational force is 49000.00 N

## 4. Seconds to Hours

**Question:** Loki gets input in seconds: "3600". Convert it to an integer and then to hours. Show final result as a float.

In [ ]:
second = "3600"
second = int(second)
hour = second / 3600
print(f"Time in hours: {hour:.2f}")

Time in hours: 1.00

## 5. Find Accuracy

**Question:** Iron Man recorded 7 hits out of 10 shots, both integers. Convert them into float and calculate the accuracy percentage.

In [ ]:
hit = 7
total = 10

hit = float(hit)
total = float(total)

accuracy = (hit / total) * 100

print(f"Accuracy is {accuracy:.2f}%")

Accuracy is 70.00%

## Object Referencing

1. Python variables hold references to an objects, not the actual object themselves.
2. Reassigning a variable does not affect other variables referencing the same object unless explicitly updated.

In [ ]:
# Example 1
a = [1,2,3]
b = a
print("a original: ", a)

b.append(4)

print("a new: ", b)
print("b: ", a)

a original:  [1, 2, 3]
a new:  [1, 2, 3, 4]
b:  [1, 2, 3, 4]

In [ ]:
# Example 2
shield = ['vibranium', 'round']
shield_copy = shield

print ("Original shield is ", shield)
print("Wolverine changes the material of shield")

shield_copy[0] = 'adamantium'
print("New shield", shield)

Original shield is  ['vibranium', 'round']
Wolverine changes the material of shield
New shield ['adamantium', 'round']

### Removing a Variable

In [ ]:
a = 10
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
x = ['apple', 'banana', 'orange', 'dragonfruit', 'kiwi', 'pineapple']
del x[1]
print(x)
del x[2:4]
print(x)

['apple', 'orange', 'dragonfruit', 'kiwi', 'pineapple']
['apple', 'orange', 'pineapple']

**Q.** You need to calculate the average of the power levels of your favourite character. The output should be upto to decimal places.

In [ ]:
power_levels = [65,85,100,54,152,65]
if power_levels:
    avg = round(sum(power_levels) / len(power_levels), 2)
    print(f"Average power level is {avg}")
else:
    print("List is empty")

Average power level is 86.83

* **Interview Tip:** You must validate your input data. An empty or incorrect datatype can collapse even the strongest of the algorithms. Never underestimate the input validation.

* An easier way to solve the above problem is to **import** the library **statistics** and use the function **mean**

## String Datatype

* Ordered collection of characters arranged in a sequence
* String are array of bytes represented in unicode characters
* No separate character is the length of one.
* String is represented by `" "`/`' '`/`''' '''`/`"""" """"`
* Strings are immutable, the keyword used to print a string is `str()` keyword
* Strings are iterable, the strings can be put in `for` loop

In [ ]:
s1 = "This is a string"
print(s1)

s2 = "This " + 'is ' + '''also ''' + f"""string"""
print(s2)

s3 = "This is an example of \nsingle line printed across multiple lines."
print(s3)

s4 = "This is an example of \
  single line written across multiple lines."
print(s4)

This is a string
This is also string
This is an example of
single line printed across multiple lines.
This is an example of   single line written across multiple lines.

In [ ]:
hulk = "Hulk: SMASH!!"
print(hulk * 4)

Hulk: SMASH!!Hulk: SMASH!!Hulk: SMASH!!Hulk: SMASH!!

**CONCEPT** A string can be repeated by multiplying it by an integer

In [ ]:
iron_man = "Mission ID : #458"
print(iron_man)

cap_am = "Avengers Assemble: # This is not a comment. " #including [#] symbol into a string
print(cap_am)

#length of the string
avengers =  "Iron Man"
length = len(avengers)
print(f"""Length of the string '{avengers}' is {length}""")

print(f"First character is {avengers[0]}")
print(f"Last character is {avengers[-1]}")
print(f"First character is {avengers[-8]}")
print(f"First character is {avengers[-0]}")

Mission ID : #458
Avengers Assemble: # This is not a comment.
Length of the string 'Iron Man' is 8
First character is I
Last character is n
First character is I
First character is I

### Slicing
- Slicing is useful in Text Preprocessing in NLP(Natural Language Processor)
- It is also used in feature extraction and sequence models. Example: RNN, Transformer

In [ ]:
avengers = "Iron Man"

slicing = avengers[:5]
neg_slicing = avengers[-8:-4]

print(slicing)
print(neg_slicing)
print(neg_slicing[::2])
print(neg_slicing[::-1])

for c in avengers:
  print(c, end="*")

a = avengers[-6:]
print(a)

Iron
Iron
Io
norI
I*r*o*n* *M*a*n*on Man

In [ ]:
def prime(num: int):
  return False

prime("aryan")

False

**Q.** Write a program to select the parts of the sequences. These sequences are the token of text.
Example:  
```token = ["iron man", "saves", "the", "world", "again"]```

In [ ]:
token = ["iron man", "saves", "the", "world", "again"]
print(token[len(token) // 2])

the

## Boolean Datatype

### Type Checking

In [ ]:
print(10 > 9 > 8)
print(10 > 9 and 9 > 8)
print(10 > 9 or 10 < 9)
print(10 > 9 and 10 < 9)
print(not 10 > 9)

print('-' * 20)

print(True + True)
print(bool([]))
print(bool(" "))

True
True
True
False
False
--------------------
2
False
True

### XOR

* Used in bitwise encryption

In [ ]:
print(10 ^ 20)

30

**Q.** Swap two numbers without using a third variable

In [ ]:
a, b = 10, 20
a = a ^ b
b = a ^ b
a = a ^ b
print(a,b)

20 10

**Q.** Find the XOR of number 10 and 7

In [ ]:
print(10 ^ 7)

13

**Q.** Check if the XOR of two numbers if odd or even. A = 4, B = 7

In [ ]:
print("even" if (4 ^ 7) % 2 == 0 else "odd")

odd

`all()` and `any()`

In [ ]:
print(all([1,2,3]))
print(all([0,2,3]))

print(any([1,2,3]))
print(any([0,2,3]))

True
False
True
True

In [ ]:
marks = [65,70,80,95]
print(all(m > 90 for m in marks))

False

## Operators

### Arithmetic Operators

* Lowest Bound is calculated using `floor`
* Growth of population, area of square, volume of a cube uses `exponent`

In [ ]:
print(f"""{10 + 9}\n{10 - 9}\n{10 * 9}\n{10 / 9}\n{10 // 9}\n{10 % 9}\n{2 ** 2}""")

19
1
90
1.1111111111111112
1
1
4

### Precedence and Associativity

In [ ]:
print(2**2**3)
# Exponentiation is right-associative
# 2**3 = 8 → 2**8 = 256
# → 256

print(-10//3)
# // is floor division (rounds *down* towards -∞)
# -10 / 3 = -3.333... → floor = -4
# → -4


a = 5

## Assignment operators

a *= 2 + 3
# First compute right side: 2 + 3 = 5
print(a)

a -= 6
print(a)

a += 6
print(a)

a /= 5
# a = a / 5 = 25 / 5 = 5.0   (note: becomes float!)
print(a)

a //= 2
# a = a // 2 = 5.0 // 2 = 2.0   (floor division, still float)
print(a)

a %= 3
print(a)

256
-4
25
19
25
5.0
2.0
2.0

In [ ]:
# --- Difference between += and + ---

a = [1,2]
b = a              # b points to the same list as a
a += [3]           # in-place addition (extends the list itself)
print(b)           # b shows [1, 2, 3] because a and b are the same object

a = [1,2]
b = a              # again, b points to the same list as a
a = a + [3]        # creates a NEW list, assigns to a (not in-place)
print(b)           # b is still [1, 2] because the original list didn’t change


# --- Bitwise operators and walrus operator ---

x = 5
print(x & 3)     # 5 (101) & 3 (011) = 001 = 1
print(x | 3)     # 5 (101) | 3 (011) = 111 = 7
print(x >> 1)    # 5 (101) >> 1 = 10 (binary) = 2
print(x << 1)    # 5 (101) << 1 = 1010 (binary) = 10
print(x := 3)    # walrus operator: assigns x = 3, prints 3


# --- XOR assignment ---

x = 5
x ^= 5           # XOR: 5 ^ 5 = 0, so x becomes 0
print(x)         # prints 0

[1, 2, 3]
[1, 2]
1
7
2
10
3
0

In [ ]:
# --- Equality checks ---

# a is b -> compares the memory reference
# a == b -> compares the values

x = 5
print(x == 5)    # True, because x is 5
print(x == 7)    # False, because 5 != 7


## Logical operators
## and -> returns the second value if the first is truthy, otherwise returns the first
## or  -> returns the first value if it's truthy, otherwise returns the second
## not -> negates truthiness (True -> False, False -> True)

x = 10
y = 20

print(x and y)       # both nonzero (truthy) → returns y = 20
print(x or y)        # x is nonzero (truthy) → returns x = 10
print(not x)         # x is nonzero (truthy) → not True → False

print([] and "HI")   # [] is falsy → 'and' stops here → returns []
print([] or "HI")    # [] is falsy → 'or' takes second → returns "HI"

True
False
20
10
False
[]
HI

In [ ]:
a = 'NITIKA'
for i in a:
  print(i)
  print(i.lower())

N
n
I
i
T
t
I
i
K
k
A
a

In [ ]:
## Identity Operators
l = ['a', 'b','c', 'd']
l1 = l
print(l1 is l)

x = 258
y = 258
print(x is y)

print(258 is 258) ## Bounded to -5 to 256 only. Further are false

True
False
True

<>:10: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-1037260668.py:10: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(258 is 258)

In [ ]:
x = ['apple', 'banana', 'orange']
y = ['apple', 'banana', 'orange']

z = x
print(x is not z)

a = "banana"
print("nana" in a)
print("apple" not in a)

False
True
True

In [ ]:
## CHECK IF ALL THE CHARACTERS IN A STRING ARE VOWEL
test = "aeioOou"
check = all(c in "aeiou" for c in test.lower())
print(check)

True

## List
* Ordered
* Duplicacy allowed
* Mixed data type
* Mutable

In [1]:
infinity_stones = ['mind', 'time', 'power', 'space', 'soul', 'reality', 'space', 'soul']
infinity_stones.sort()
print(infinity_stones)
infinity_stones.append("infinite")
print(infinity_stones)

['mind', 'power', 'reality', 'soul', 'soul', 'space', 'space', 'time']
['mind', 'power', 'reality', 'soul', 'soul', 'space', 'space', 'time', 'infinite']

In [3]:
n = 25
primes = [x for x in range(2, n+1) if all(x % i for i in range(2, int(x**0.5)+1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

## User Input

In [8]:
# Make a friends list

name1 = input("Enter name of friend 1: ")
name2 = input("Enter name of friend 2: ")
name3 = input("Enter name of friend 3: ")
name4 = input("Enter name of friend 4: ")

friends = [name1, name2, name3, name4]
print(friends)

Enter name of friend 1: 12\23
Enter name of friend 2: 232ed
Enter name of friend 3: qqw2
Enter name of friend 4: r42q
['12\\23', '232ed', 'qqw2', 'r42q']

In [7]:
# Make a friends list
## -> using for loop
__friends = []
n = int(input("Enter number of friends: "))
for i in range (n):
  _input = input("Enter name of friend: ")
  __friends.append(_input)
print(__friends)

Enter number of friends: 0
[]

In [14]:
## -> only numbers no type-casting
__list = []

for i in range (3):
  __list.append(input("Enter a number: "))
print(__list)

__list.remove('80')
print(__list)

__list.pop()
print(__list)

__list = ['60','70','80','90']
__list.pop(3)
print(__list)

__list.clear()
print(__list)

Enter a number: 60
Enter a number: 70
Enter a number: 80
['60', '70', '80']
['60', '70']
['60']
['60', '70', '80']
[]

In [15]:
student_list = ['John', 'Jane', 'Doe']
filter = [x for x in student_list if x.startswith('J')]
print(filter)

['John', 'Jane']

In [16]:
# convert the 2d list data to 1d list data (flatten) using list comprehension
__list = [['1', 'John', 'Doe'], ['2'], ['3', 'Jane']]
flatten = [x for sublist in __list for x in sublist]
print(flatten)

['1', 'John', 'Doe', '2', '3', 'Jane']

In [24]:
colors = ['red', 'blue']
car = ['audi', 'bmw']

colored_cars = [(colx, cary) for colx in colors for cary in car]
print(colored_cars)

[('red', 'audi'), ('red', 'bmw'), ('blue', 'audi'), ('blue', 'bmw')]

In [30]:
even = [x for x in range(50+1) if x % 2 == 0]
print(even)
even[2:] = [10]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[0, 2, 10]

In [33]:
n = int(input("Enter the number of terms: "))
expected_sum = n*(n+1) // 2
_list = [int(input(f"Enter number {i+1}: ")) for i in range(n)]
experimental_sum = sum(_list)
print(f"Expected sum: {expected_sum}")
print(f"Experimental sum: {experimental_sum}")
print(f"Missing number:  {experimental_sum - expected_sum}")

Enter the number of terms: 5
Enter number 1: 2
Enter number 2: 8
Enter number 3: 4
Enter number 4: 2
Enter number 5: 3
Expected sum: 15
Experimental sum: 19
Missing number:  4